{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I have always liked to think of myself as a what I call a modern-day
          renaissance man. I have a wide range of interests and hobbies that
          have given me an equally wide range of skills. A few that are top of
          the list are programming, leather working, laser engraving, model
          trains, and building things from wood. Even as a kid I was interested
          in everything! And my father had friends with a wide range of
          professions. He would often have them come over and help work on
          things around our house. That is how I learned to do construction,
          lay concrete, work with electrical wiring, roofing and painting houses,
          aspects of engineering, and how to maintain an HVAC system all from
          helping my dad and his friends around the house.
        </p>
        <p>
          When it came to college, I again found myself with a wide range of
          interests. That led me to get a degree in the college of arts and
          sciences, which required me to take art, literature, science, philosophy,
          and foreign language along with my business major in economics. And it
          was that requirement that led me to "experiment" with different ideas
          for a major. At first, I was going to be a physicist. And I did very
          well in the classes, but I hated it. It was pure rote repetition. Here
          is a problem, classify it into a known type, and calculate the result
          based on a set formula. Not exactly riveting work. I am sure it would
          have become interesting, but I couldn't wait for that.
        </p>
        <p>
          Luckily, I had signed up for an intro to economics course at the same
          time I was questioning physics as my major. The idea of using math to
          explain the behavior of people and how that guides the economy was, to
          say the least, intriguing. And the fact it is the science of optimization
          made it that much more interesting. I was hooked almost immediately.
          No more simple math or using only pre-defined formulas. Now there was
          logic, calculus, advanced statistics, the works. It just clicked with me
          like I was born to do it. The head of the econ department even asked to
          see me one day after I aced his final exam just to tell me how impressed
          he was and that I would make a wonderful analyst one day.
        </p>
        <p>
          Turns out he was right as that became my initial career and how I
          developed advanced skills in Excel, VBA, PBI. And that led me to a career
          in business intelligence (BI) which takes analytics to the next level. As
          a side interest I took up python programming which turned out to be right
          in line with the future of BI as it is now the go-to language for data
          science, machine learning and AI. So that is where I am today.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
